<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Вхід</h1>
        <form method="POST">
            {% csrf_token %}
            <p><input type="text" placeholder="Логін" name="username" required></p>
            <p><input type="password" placeholder="Пароль" name="password" required></p>
            <button>Вхід</button>
        </form>
        {% if user == None %}
            <p style = "color:red">Логін або пароль некоректні</p>
        {% endif %}
    </body>
</html>