<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Сторінка реєстрації</h1>
    <form method="post">
        {% csrf_token %}
        <p><input type="text" placeholder="Логін" name="username" required></p>
        <p><input type="password" placeholder="Пароль" name="password" required></p>
        <p><input type="password" name="confirm-password" placeholder="Підтвердження пароля" required></p>
        <button>Надіслати</button>
    </form>
    {% if show_text_passwords_dont_match %}
        <p style="color: red;" >Паролі не співпадають</p>
    {% elif show_text_not_unique_name %}
        <p style="color: red;">Такий користувач вже існує</p>
    {% endif %}
</body>
</html>