<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Усі пости</h1>
    {% for post in all_posts %}
        <h2>{{ post }}</h2>
        <h3>Автор: {{ post.author}}</h3>
        <h4>Теги цього поста:</h4>
        {% for tag in post.tags.all %}
            <span>#{{ tag }}</span>
        {% endfor %}
        <p><img src="{{ post.image.url }}" alt="" style="width: 200px;"></p>
        <p>{{ post.content }}</p>
        <hr>
    {% endfor %}
</body>
</html>